r*{
    box-sizing:border-box;
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
}

#header #nav-bar{
    text-decoration: none;
}

#header #nav-bar li{
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    padding-right: 50px;
    font-size: 30px;
}
#header #nav-bar a{
    text-decoration: none;
}
#container{
    position:relative;
}
#form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#video-wrapper{
    position: relative;
    margin-top: 500px;
}
#video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#submit{
    background: yellow;
    border: solid transparent;
    padding: .5em .2em;
}

