r*{
    box-sizing:border-box;
}
#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

#header #nav-bar{
    text-decoration: none;
}

#header #nav-bar li{
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    padding-right: 50px;
    font-size: 20px;

}
#header #nav-bar a{
    text-decoration: none;
    
}
#form-container{
    flex: none;
  position: relative;
  z-index: 2;
  margin-top: -400px;
}
#form{
   position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 
#clear{
    clear: both;
}
#video-wrapper{
    position: relative;
    margin-top: 500px;
    z-index: 1;
}
#video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#submit{
    background: yellow;
    border: solid transparent;
    padding: .5em .2em;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.container{
    border: 1px black solid;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-top: 20px;
    margin-top: 500px;
}

@media only screen and (max-width: 760px){
    #header #nav-bar {
        text-decoration: underline;
    }
}